*{
    margin: 0;
    padding: 0;
    border: 0;
}
.Wrapper{
    display: flex;
    width: 1920px;
    height: 2989px;
    flex-direction: column;
    position: relative;
}
.Content{
    display: flex;
    flex-direction: column;
    position: relative;
}
.Banner1{
    display: flex;
    width: 1920px;
    height: 1009px;
    position: relative;
    background-color: #222222;
}
.Image2_2{
    display: flex;
    width: 763px;
    height: 1009px;
    left: 1157px;
    object-fit: contain;
    position: relative;
}
.Image_Banner1{
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Frame3832{
    display: flex;
    width: 783px;
    height: 58px;
    top: 30px;
    left: 163px;
    gap: 112px;
    position: absolute;
}
.Frame3838{
    display: flex;
    width: 783px;
    height: 58px;
    gap: 100px;
    margin-top: -1px;
    align-items: center;
}
.WGResidences_BG_logo_dark{
    display: flex;
    width: 256px;
    height: 58px;
    margin-top: -1px;
}
.Lorem{
    display: flex;
    width: 154px;
    height: 29px;
    top: 14px;
    font-family: 'Prata', serif;    
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 3%;
    text-align: center;
    align-items: center;
    position: relative;
    color: #ffffff;
}
.Frame3821{
    display: flex;
    width: 427px;
    height: 11px;
    gap: 29px;
    align-items: center;
    box-sizing: border-box;
}
.Text_in_Frame3821_1{
    display: flex;
    width: 129px;
    height: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 4%;
    text-align: right;
    color: #ffffff;
}
.Text_in_Frame3821_2{
    display: flex;
    width: 78px;
    height: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 4%;
    text-align: right;
    color: #ffffff;
}
.Text_in_Frame3821_3{
    display: flex;
    width: 162px;
    height: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    letter-spacing: 4%;
    text-align: right;
    color: #ffffff;
}
.Frame3833{
    display: flex;
    width: 1305px;
    height: 777px;
    top: 182px;
    left: 162px;
    gap: 60px;
    position: absolute;
}
.Frame3836{
    display: flex;
    width: 1305px;
    height: 777px;
    gap: 50px;
    margin-top: -2px;
    flex-direction: column;
}
.Frame1321314289{
    display: flex;
    width: 100px;
    height: 100px;
}
.Text_in_Frame3836{
    display: flex;
    width: 1305px;
    height: 160px;
    font-family: 'Prata', serif;    
    font-weight: 400;
    font-size: 80px;
    line-height: 90px;
    color: #ffffff;
}
.Frame3831{
    display: flex;
    width: 537px;
    height: 417px;
    gap: 64px;
    flex-direction: column;
    overflow: visible; 
}
.Frame2988{
    display: flex;
    width: 537px;
    height: 36px;
    border-radius: 4px;
    border-bottom: 1px;
    border-left: 1px;
    gap: 60px;
}
.Text_in_Frame2988{
    display: flex;
    width: 537px;
    height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    color: #ffffff;
}
.Frame3827{
    display: flex;
    width: 462px;
    height: 317px;
    gap: 40px; 
    flex-direction: column;
    overflow: visible; 
}
.Frame3826{
    display: flex;
    width: 462px;
    height: 181px;
    gap: 35px; 
    overflow: visible; 
    flex-direction: column;
}
.Price_in_Frame3826_1{
    display: flex;
    width: 458px;
    height: 37px;
    gap: 17px; 
    overflow: visible; 
}
.Frame1321314288{
    display: flex;
    width: 588px;
    height: 37px;
    margin-top: -1px;
    gap: 15px; 
    margin-left: 50px;
    position: absolute;
}
.Frame1321314287{
    display: flex;
    height: 32px;
    gap: 7px; 
    overflow: visible; 
}
.Text_in_Frame1321314287_1{
    display: flex;
    width: 27px;
    height: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 26.4px;
    margin-top: 3px;
    color: #ffffff;
}
.Text_in_Frame1321314287_2{
    display: flex;
    width: 175px;
    height: 32px;
    font-family: 'Prata', serif;    
    font-weight: 400;
    font-size: 40px;
    letter-spacing: 6px;
    align-items: center;
    color: #ffffff;
}
.Text_in_Frame1321314288{
    display: flex;
    width: 162px;
    height: 17px;
    font-family: Arial, Helvetica, sans-serif;    
    font-weight: 400;
    font-size: 24px;
    margin-top: 4px;
    color: #ffffff;
}
.Price_in_Frame3826_2{
    display: flex;
    width: 439px;
    height: 35px;
    gap: 17px;
    padding-right: 20px; 
    overflow: visible; 
}
.Price_in_Frame3826_3{
    display: flex;
    width: 420px;
    height: 35px;
    gap: 17px;
    padding-right: 20px; 
    overflow: visible; 
}
.button_in_Frame3825{
    display: flex;
    width: 191px;
    height: 96px;
    padding-top: 32px;
    padding-right: 50px;
    padding-bottom: 32px;
    padding-left: 50px;
    border-radius: 4px;
}
.button_in_Frame3825:hover{
    background-color: bisque;
}
.Text_in_button_in_Frame3825{
    display: flex;
    width: 91px;
    height: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 1px;
    text-align: center;
}
/* ----------------------- */
.Frame3768{
    display: flex;
    width: 1920px;
    height: 100px;
    background-color: #282829;
    z-index: 3;
}
/* ----------------------- */
.Frame3860{
    display: flex;
    width: 1920px;
    height: 724px;
    background-color: #282829;
    position: relative;
}
.Frame3747{
    display: flex;
    width: 1931px;
    height: 724px;
    gap: 53px;
}
.img3_1{
    display: flex;
    width: 622px;
    height: 724px;
}
.Frame3746_1{
    display: flex;
    width: 614px;
    height: 670px;
    gap: 80px;
    margin-top: 54px;
    position: relative;
    flex-direction: column;
}
.Frame3440{
    display: flex;
    width: 614px;
    height: 512px;
    gap: 40px;
    padding-top: 10px;
    flex-direction: column;
}
.Frame3743{
    display: flex;
    width: 548px;
    height: 51px;
    gap: 20px;
    margin-top: -12px;
}
.Group3555,
.Group3554,
.Group3553{
    width: 58px;
    height: 47px;
}
.Text_in_Frame3743{
    display: flex;
    width: 544px;
    height: 51px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-size: 24px;
    line-height: 33.6px;
    color: rgba(255, 255, 255, 1);
    align-items: center;
}
.Line248,
.Line247,
.Line249{
    width: 614px;
    border: 1px solid rgba(85, 86, 90, 1);
}
.Frame3744{
    display: flex;
    width: 548px;
    height: 51px;
    gap: 20px;
}
.Text_in_Frame3744{
    display: flex;
    width: 536px;
    height: 51px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-size: 24px;
    line-height: 33.6px;
    color: rgba(255, 255, 255, 1);
    align-items: center;
}
.Frame3745{
    display: flex;
    width: 614px;
    height: 119px;
    gap: 20px;
}
.Text_in_Frame3745{
    display: flex;
    width: 536px;
    height: 119px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-size: 24px;
    line-height: 33.6px;
    color: rgba(255, 255, 255, 1);
    align-items: center;
}
.Frame3746{
    display: flex;
    width: 548px;
    height: 51px;
    gap: 20px;
}
.Text_in_Frame3746{
    display: flex;
    width: 536px;
    height: 51px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400px;
    font-size: 24px;
    line-height: 33.6px;
    color: rgba(255, 255, 255, 1);
    align-items: center;
}
.button_in_Frame3746_1{
    display: flex;
    height: 78px;
    padding-top: 32px;
    padding-right: 52px;
    padding-bottom: 32px;
    padding-left: 52px;
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    text-align: center;
    justify-content: center;
}
.button_in_Frame3746_1:hover{
    background-color: bisque;

}
.Text_in_button_in_Frame3746_1{
    display: flex;
    width: 76px;
    height: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: rgba(40, 40, 41, 1);
}
.img1_9{
    display: flex;
    width: 590px;
    height: 724px;
    position: absolute;
    right: 0;
}
/* -------------------------- */
.Form1{
    display: flex;
    width: 1920px;
    height: 728px;
    position: relative;
    flex-direction: column;
}
.Frame3763_2{
    display: flex;
    width: 1920px;
    height: 100px;
    background-color: rgba(40, 40, 41, 1);
}
.Frame3764{
    display: flex;
    width: 1920px;
    height: 628px;
    background-color: rgba(40, 40, 41, 1);
    justify-content: center;
    align-items: center;
}
.Frame26{
    display: flex;
    width: 1200px;
    height: 644px;
    top: -16px;
    left: 360px;
}

.Frame3812{
    display: flex;
    width: 781px;
    height: 484px;
    gap: 18px;
    top: 80px;
    left: -64px;
    justify-content: center;
    z-index: 2;
    position: relative;
    flex-direction: column;
}
.Text_in_Frame3815{
    display: flex;
    width: 774px;
    height: 118px;
    font-family: 'Prata';
    font-weight: 400;
    font-size: 54px;
    line-height: 59.4px;
    color: rgba(56, 83, 93, 1);
    z-index: 2;
}
.Frame3813{
    display: flex;
    width: 781px;
    height: 321px;
    gap: 26px;
    flex-direction: column;
    z-index: 2;
}
.Frame3816{
    display: flex;
    width: 781px;
    height: 143px;
    gap: 13px;
    flex-direction: column;
}
.input_in_Frame3816{
    display: flex;
    max-width: 781px;
    height: 65px;
    gap: 8.67px;
    border: 2px solid rgba(214, 214, 214, 1);
    opacity: 70%;
    margin-left: -3px;
    padding-top: 13.88px;
    padding-right: 20.82px;
    padding-bottom: 13.88px;
    padding-left: 38.16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 36px;
    z-index: 3;
}
.input_in_Frame3816::placeholder{
    width: 138px;
    height: 36px;
    opacity: 70%;
    margin-left: -3px;
    padding-top: 13.88px;
    padding-right: 20.82px;
    padding-bottom: 13.88px;
    padding-left: 38.16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: rgba(85, 86, 90, 1);
}
.input2_in_Frame3816{
    display: flex;
    max-width: 781px;
    height: 65px;
    gap: 8.67px;
    border: 2px solid rgba(214, 214, 214, 1);
    opacity: 70%;
    margin-left: -3px;
    padding-top: 13.88px;
    padding-right: 20.82px;
    padding-bottom: 13.88px;
    padding-left: 38.16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 36px;
    background-color: white;
    z-index: 3;
}
.input2_in_Frame3816::placeholder{
    width: 138px;
    height: 36px;
    opacity: 70%;
    margin-left: -3px;
    padding-top: 13.88px;
    padding-right: 20.82px;
    padding-bottom: 13.88px;
    padding-left: 38.16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: rgba(85, 86, 90, 1);
}
.Frame2947{
    display: flex;
    width: 771px;
    height: 26px;
    gap: 16px;
}
.Rectangle50{
    display: flex;
    width: 24px;
    height: 24px;
    gap: 16px;
    border: 2px solid rgba(64, 93, 101, 1);
    border-radius: 4px;
}
.Frame3015{
    display: flex;
    width: 217px;
    max-height: 26px;
    gap: 23px;
    padding-top: 3px;
    padding-bottom: 6px;
    text-align: center;
}
.Text_in_Frame3015{
    display: flex;
    width: 217px;
    height: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    line-height: 24.7px;
    color: rgba(85, 86, 90, 1);
}
.input_in_Frame3813{
    display: flex;
    width: 100%;
    max-width: 781px;
    max-height: 100px;
    gap: 8.67px;
    padding-top: 32px;
    padding-right: 20.82px;
    padding-bottom: 32px;
    padding-left: 20.82px;
    background-color: rgba(40, 40, 41, 1);
    justify-content: center;
}
.input_in_Frame3813:hover{
    background-color: #707076;
}
.Text_in_input_in_Frame3813{
    display: flex;
    width: 168px;
    height: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
}

.Rectangle_5{
    display: flex;
    width: 1597px;
    height: 628px;
    left: 161px;
    border-radius: 30px;
    border: 2px;
    border-color: rgba(213, 201, 190, 1);
    background-color: rgb(255, 255, 255);
    position: absolute;
    z-index: 1;
}
.imgWomenHouse{
    display: flex;
    width: 510px;
    height: 628px;
    margin-top: -16px;
    margin-left: -835px;
    border-bottom-right-radius: 30px;
    top: 16px;
    left: 889px;
    position: relative;
    z-index: 1;
}
.imgWomen{
    display: flex;
    width: 510px;
    height: 750px;
    margin-top: -367px;
    margin-left: 50px;
    z-index: 2;
}
/* ------------------- */
.Form2{
    display: flex;
    width: 1920px;
    height: 100px;
    background-color: rgba(40, 40, 41, 1);
}
/* ------------------- */
.Footer{
    display: flex;
    width: 1920px;
    height: 329px;
    background-color: rgba(34, 34, 34, 1);
    position: relative;
}
.Frame3274{
    display: flex;
    width: 352px;
    height: 32px;
    top: 160px;
    left: 784px;
    gap: 32px;
    position: absolute;
}
.Component_icons:hover{
    scale: 2;
}
.Frame2{
    display: flex;
    width: 494px;
    height: 14px;
    top: 40px;
    left: 714px;
    gap: 60px;
    position: absolute;
}
.Text_in_Frame2_1{
    display: flex;
    width: 161px;
    height: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: right;
    margin-top: -9px;
    color: rgba(255, 255, 255, 1);
}
.Text_in_Frame2_2{
    display: flex;
    width: 123px;
    height: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: right;
    margin-top: -9px;
    color: rgba(255, 255, 255, 1);
}
.Text_in_Frame2_3{
    display: flex;
    width: 90px;
    height: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: right;
    margin-top: -9px;
    color: rgba(255, 255, 255, 1);
}
.button_in_Slide_16_9_26{
    display: flex;
    width: 180px;
    height: 78px;
    top: 139px;
    left: 1557px;
    border-radius: 4px;
    padding: 32px 52px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
}
.p_button_in_Slide_16_9_26{
    display: flex;
    width: 76px;
    height: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
    align-items: center;
    color: rgba(34, 34, 34, 1);
}
.button_in_Slide_16_9_26:hover{
    background-color: bisque;
}
.WGR{
    display: flex;
    width: 256px;
    height: 53px;
    top: 148px;
    left: 160px;
    position: absolute;
}
.p_in_WGR{
    display: flex;
    width: 100%;
    height: 21.93px;
    top: 15.54px;
    left: -35px;
    font-family: "Prata";
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 3%;
    color: rgba(255, 255, 255, 1);
    justify-content: center;
}
.Rectangle55{
    display: flex;
    width: 1920px;
    height: 2px;
    background-color: rgba(213, 201, 190, 1);
    position: absolute;
}
.Rectangle53{
    display: flex;
    width: 1920px;
    height: 2px;
    top: 94px;
    background-color: rgba(213, 201, 190, 1);
    position: absolute;
}
.Terms_of_Use{
    display: flex;
    width: 118px;
    height: 14px;
    top: 255px;
    left: 1619px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: rgba(213, 201, 190, 1);
    position: absolute;
}
.Privacy_policy{
    display: flex;
    width: 130px;
    height: 21px;
    top: 255px;
    left: 909px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: rgba(213, 201, 190, 1);
    position: absolute;
}
.Copyright{
    display: flex;
    width: 168px;
    height: 14px;
    top: 255px;
    left: 160px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
}
/* ---------------- */
@media (max-width: 768px) {
    /* .Image_Banner1 {
        transform: translateX(-50%);
    } */

    body {
        transform: scale(0.216); /* Уменьшаем размер на 50% */
        transform-origin: top left; /* Указываем точку уменьшения */
        width: 200%; /* Увеличиваем ширину, чтобы избежать белых полей */
    }

}
